<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--resultType进行结果映射的时候，需要查询出的列名和映射的对象的属性名一致，才能映射成功。
resultMap进行结果映射的时候，不需要查询的列名和映射的属性名一致。但是要声明一个resultMap来对列名和属性名进行映射。
比如下面的resultMap，column就是sql查询出来的名称，但是property才是真正的属性名-->
<mapper namespace="com.glory.admin.mapper.AdminMapper">

    <resultMap id="AdminBaseMap" type="com.glory.admin.entity.Admin">
        <id column="admin_id" property="id" jdbcType="INTEGER"/>
        <result column="admin_name" property="name" jdbcType="VARCHAR"/>
        <result column="admin_password" property="password" jdbcType="VARCHAR"/>
        <result column="add_date_time" property="addDateTime" jdbcType="TIMESTAMP"/>
        <result column="login_date_time" property="loginDateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--select:表示一个MappedStatement对象
       id ：表示statement的唯一标识-->
    <!--#{}：表示一个占位符
    #{id}:表示输入参数的参数名称,如果该参数类型是简单类型，那么参数名称可以任意
    parameterType表示输入参数的类型
    当sql中使用like来限制条件的时候，就使用like '%${user.username}%'这种形式-->
    <select id="selectAdminById" parameterType="java.lang.Long" resultMap="AdminBaseMap">
        SELECT * FROM t_admin
        WHERE admin_id = #{id}
    </select>

    <select id="selectAllAdmin" resultMap="AdminBaseMap">
        SELECT * FROM t_admin
    </select>

</mapper>